@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
  color: inherit;
}

ul{
  list-style: none;
  text-decoration: none;

}


.nav{
  background-color: whitesmoke;
  height:10vh;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

}

.nav__logo{
  width: 100px;
  font-size: 50px;

}

.nav__navbar{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  font-size: 20px ;
  height: 100%;
}

.nav__navbar li {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 0px 15px;

}



.nav__navbar li p{
  position: relative;
  width: max-content;
  transition: border .5s linear
}

.nav__navbar li p::after{
  top: 0px;
  left: 0px;
  position: absolute;
  content: '';
  z-index: 1;
  height: 100%;
  width: 0%;
  border-bottom: 5px solid #2FF75D;
  transition: width .2s ease-in;
}

.nav__navbar p:hover::after{
  width: 100%;
}

.nav__navbar button{
  background: none;
  border: none;
  background-color:  orange;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  color:black
}

.home__banner{
  width: 100%;
  height: 400px;
  position: relative;
}

.home__banner img{
  height: 100%;
  width: 100%;
}

.banner__introduction{
  font-size: 1.5vw;
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 20px;
  height: 100%;
  width: 40%;
  background-color: #afafe19c;

}

.banner__introduction h1{
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner__introduction p{
  margin-bottom: 20px;
}

.banner__introduction button{
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  padding: 15px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
}

.home__staff{
  width: 70%;
  margin: auto;
  margin-bottom: 40px;

}

/*  */


.footer {
    margin-top: 50px;
    background-size: cover;
    color: white;
    background-color: #15062b;
    padding-bottom: 30px;
}

.footer-body {
    display: flex;
}

.loc-title {
    display: flex;
    padding: 30px 30px 30px 30px;
    color: #cfd0d2;
}

.loc-title svg {
    font-size: 30px;
    padding-right: 10px;
}

iframe {
    width: 100%;
    height: 100%;
}

.loaction {
    width: 60%;
}

.map-container {
    width: 80%;
    height: 60%;
    margin: auto;
    height: 400px;
}

.contacts {
    width: 40%;
    padding-top: 100px;
}

.footer__contact {
    margin-bottom: 40px;
    font-size: 25px;
}
.footer__contact p {
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.footer__contact svg {
    padding-right: 20px;
    color: #1fe04c !important;
    font-size: 40px;
}

.social {
    text-align: center;
    font-size: 30px;
    color: #1fe04c;
}

.social svg {
  margin: 10px 10px 10px 10px;
}


/* #298DD9 */
/* #3AE7F0 */
/* #29D99A */
/* #2FF75D */
